<!DOCTYPE html>
<html>
<head>
    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
    <script src="../Content/js/pagetransition.js"></script>
    <script src="../Content/js/scripts.js"></script> 
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../Content/css/styles.css'>
    <meta charset="utf-8">
    <title>Lemonade Stand</title>
</head>
<body>
    <div class="container">
        @RenderBody()
        @Html.Partial("transition.cshtml")
    </div>
</body>
</html>
