/************General Styles************/
body {
	color: #5bc0de;
	font-family: 'Fredoka One', cursive;
}

form {
	display: inline-block;
}

.form-title {
	display: inline-block;
	text-align: right;
}

.fancy {
	font-family: 'Leckerli One', cursive;
	color: #ff0080;
}

.sign-in {
	display: flex;
	align-items: center;
	vertical-align: middle;
	flex-flow: wrap;
	justify-content: flex-start;
}

.small-spacing {
	height: 50px;
}
.spacing {
	height: 150px;
}

.backdrop {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 40px;
	border-radius: 50px;
}

form {
	margin: 0 auto;
}

.wallpaper, .beach-background {
	height: 100vh;
}

.orange {
	color: #EE7600;
}

.center {
	text-align: center;
}


/************Sign In Page************/
.wallpaper {
	background: url("../img/background.jpg") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #01A9B1;
}

.big {
	font-size: 72px;
	text-align: center;
}
/************Game Page************/
.beach-background {
	background: url("../img/beach.jpg") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Fredoka One', cursive;
}

#small-input, #tiny-input {
	width: 75px;
}

.lemonade-stand {
	margin-top: 10%;
}

.stand {
	height: 75vh;
	z-index: 10;
	position: absolute;
	left: 0px;
	z-index: 100;
}

.beyonce {
	height: 35vh;
	position: absolute;
	left: 200px;
	top: 125px;
	z-index: 1;
}

.prices {
	padding-top: 5%;
	padding-bottom: 2%;
	padding-left: 6%;
	padding-right: 6%;
	border-radius: 25px;
}

.chalkboard {
	background: url("../img/chalkboard-menu.jpg") no-repeat center center;
	background-position: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Fredoka One', cursive;
	color: white;
	position: absolute;
	left: 220px;
	top: 550px;
	z-index: 200;
}

.chalkboard .form-inline .form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

#small-input {
	margin-right: 10px;
}

.chalkboard .form-inline .form-control {
	display: inline-block;
}

button#tiny-input {
	display: block;
}

.chalkboard h3 {
	margin-top: 4em;
}

/*.weather {
	background: url("../img/rain.png") no-repeat center center;
	background-size: 55%;
}*/

/************Submit Button************/
.lemonsubmit
{
	background-image: 	url(https://files.slack.com/files-pri/T3KRW5WC9-F4ESPBC6P/button_shape.png);
	background-repeat: no-repeat;
	background-color:	transparent;
	height:			80px;
	width:			100px;
	border:			none;
	text-indent:		-999em;
}



/*CSS For View Transition*/
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/*CSS for rotate fall transition*/
.pt-page-rotateFall {
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	animation: rotateFall 1s both ease-in;
}

@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}
